{extend name="common/base" /}
{block name="cssFile"}
{css href="/static/admin/plugins/duallistbox/bootstrap-duallistbox.min.css"}
{/block}
{block name="main"}
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class=""><a href="{:url('Auth/group')}"><i class="fa fa-list"></i> 角色列表</a>
                    </li>
                    <li class=""><a href="{:url('Auth/addGroup')}" ><i class="fa fa-plus"></i> 新增角色</a>
                    </li>
                    <li class="active"><a href="javascript:;" ><i class="fa fa-edit"></i> 编辑角色[{$group['title']}]</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>编辑 <small>角色[{$group['title']}]</small></h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-refresh"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">名&nbsp;&nbsp;&nbsp;称</label>

                                                    <div class="col-sm-8">
                                                        <input type="text" name="title" value="{$group['title']}" placeholder="请输入名称" class="form-control" required="" maxlength="50">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">状&nbsp;&nbsp;&nbsp;态</label>
                                                    <div class="col-sm-8">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox" class="onoffswitch-checkbox" id="example" {$group['status']?'checked':''} >
                                                                <label class="onoffswitch-label" for="example">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <!-- Multiple selection -->
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">权限分配</label>
                                                    <div class="col-sm-8">
                                                    <select multiple="multiple" class="form-control listbox-no-selection">
                                                        {volist name="rules" id="vo"}
                                                            <option value="{$vo['id']}" {:in_array($vo['id'],$group['rules'])?'selected':''} >[{$vo['name']}] => [{$vo['title']}]</option>
                                                        {/volist}
                                                    </select>
                                                    </div>
                                                <!-- /multiple selection -->
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-2">
                                                        <button class="btn btn-primary" type="submit">保存</button>
                                                        <a href="{:url('auth/group')}" class="btn btn-white" type="button">取消</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{js href="/static/admin/plugins/duallistbox/jquery.bootstrap-duallistbox.js"}
<script>
    $(document).ready(function(){
        //双向选择插件初始化
        $('.listbox-no-selection').bootstrapDualListbox({
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            filterPlaceHolder: '节点名称',
            infoText: '共 {0} 项',
            selectorMinimalHeight:200,
            infoTextFiltered: '从 {1} 条数据中检索到 <span class="label label-warning">{0}</span>条',
            infoTextEmpty: '空列表',
        });

        $('form').on('submit',function(){
            var rules = $('.listbox-no-selection').val();
            if($("input[name='title']").val()==""){toastr.info('名称不能为空');return false;}
            var status = 0;
            if($('#example').is(':checked')){
                status =1;
            }
            $.ajax({
                type:'post',
                dataType:'json',
                data:{'id':"{$group['id']}",'title':$("input[name='title']").val(),'status':status,'rules':rules},
                url:"{:url('Auth/editGroup')}",
                success:function(re){
                    if(re.code==1){
                        layer.confirm(re.msg, {
                            btn: ['前往列表','继续编辑'] //按钮
                        }, function(){
                            window.location.href="{:url('Auth/group')}";
                        },function(){
                            window.location.reload();
                        });
                    }else{
                        toastr.error(re.msg);
                    }
                },
                error:function(){
                    toastr.warning('请稍后再试或联系管理员','网络错误');
                }
            });
            return false;
        });
    });
</script>
{/block}