{extend name="common/base" /}
{block name="main"}
<div id="fh5co-main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>关于我们</h2>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
                <p><img src="/static/water/images/img_29_large.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-rounded img-responsive"></p>
                <p>销售家用净水器，工业净水器，灌装机，承接网站开发，有需要请联系我们。</p>
                <p>联系方式：</p>
                <p>QQ：840384632</p>
                <p>邮箱：840384632@qq.com</p>
                <p><a href="/water/index/contact.html">给我们留言</a></p>
            </div>
        </div>
    </div>
</div>
{/block}