<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="{$data['picture_64x64']?$data['picture_64x64']:$data['picture']}" style="width:64px;" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{:session('username')}</strong></span>
                                <span class="text-muted text-xs block">{$data['title']}<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="/admin/setting/personal">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{:url('Login/LogOut')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">imk
                </div>
            </li>

            {volist name="menus" id="vo"}
                {if condition="!empty($vo['url']) || (!empty($vo['son']) && (!empty($vo['son'][0]['url']) || !empty($vo['son'][0]['son'][0]['url'])))"}

                <li>
                    <a class="{:empty($vo['son'])?'J_menuItem':''}" href="{:empty($vo['son'])?$vo['url']:'javascript:;'}">
                        <i class="fa {$vo['ico']}"></i>
                        <span class="nav-label">{$vo['name']}</span>
                        {if condition="!empty($vo['son'])"}
                        <span class="fa arrow"></span>
                        {/if}
                    </a>
                    {if condition="!empty($vo['son'])"}
                    <ul class="nav nav-second-level">
                        {volist name="vo['son']" id="vv"}
                        {if condition="!empty($vv['url']) || (!empty($vv['son']) && !empty($vv['son'][0]['url']))"}
                        <li>
                            <a class="{:empty($vv['son'])?'J_menuItem':''}" href="{:empty($vv['son'])?$vv['url']:'javascript:;'}" data-index="0">{$vv['name']}
                            {if condition="!empty($vv['son'])"}
                            <span class="fa arrow"></span>
                            {/if}
                            </a>
                            {if condition="!empty($vv['son'])"}
                            <ul class="nav nav-third-level">
                                {volist name="vv['son']" id="vs"}
                                <li>
                                    <a class="J_menuItem" href="{$vs['url']}" data-index="0">{$vs['name']}</a>
                                </li>
                                {/volist}
                            </ul>
                            {/if}
                        </li>
                        {/if}
                        {/volist}
                    </ul>
                    {/if}
                </li>
                {/if}
            {/volist}
        </ul>
    </div>
</nav>