<div class="modal fade" id="modal-xiuxiu" style="top:60px;max-width: 820px;margin: auto">
    <div class="modal-xiuxiu">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">上传头像</h4>
            </div>
            <div class="modal-body">
                <div id="altContent"></div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" id="cancle" data-dismiss="modal">关闭</a>
                <!--                <a href="javascript:;" class="btn btn-sm btn-success">保存</a>-->
            </div>
        </div>
    </div>
</div>